html, body {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 85%;
  margin: 0;
  padding: 0;
  min-height: 4280px;
}

h1 {
  font-size: 140%;
  font-weight: normal;
  background-color: #1e445d;
  color: #d2dade;
  padding: 9px;
  margin: 0;
}
  h1 a {
    color: #d2dade;
  }
  h1 a:hover {
    color: #fff;
  }

h3 {
  font-size: 90%;
  font-weight: normal;
  background-color: #35516c;
  color: #1e445d;
  padding: 6px;
  text-align: right;
  margin: 0;
}
  h3 a {
    color: #d2dade;
  }
  h3 a:hover {
    color: #fff;
  }

ul {
  background-color: #d2dade;
  margin: 0;
  padding: 16px;
}
  
  ul li {
    list-style-type: none;
    margin: 9px;
    font-size: 120%;
  }
  ul li a {
    display: inline-block;
    width: 106px;
    background-color: #35516c;
    color: #d2dade;
    text-decoration: none;
    padding: 3px 9px;
  }
    ul li a:hover {
      background-color: #1e445d;
      color: #fff;
    }
  
h2 {
  font-size: 100%;
  font-weight: normal;
  background-color: #35516c;
  color: #d2dade;
  padding: 6px;
  margin: 0 0 2px 0;
}
  h2 a {
    color: #d2dade;
  }
    h2 a:hover {
      color: #fff;
    }

.formulas {
  font-size: 150%;
  padding: 6px;
}

.grupo-formulas {
  display: inline-block;
  vertical-align: top;
  border: dotted 1px #ccc;
  margin-bottom: 8px;
}

.katex-display {
  padding: 0 10px;
  margin: 12px 12px 0 12px;
}
	
.formula  .katex-display {
  padding-bottom: 12px;
}

.formula-titulo {
  display: block;
  padding: 4px;
  background-color: #d2dade;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 90%;
  text-align: center;
}

.toggle-formulas-btn,
.goto-top-btn {
  display: inline-block;
  cursor: pointer;
  width: 22px;
  height: 20px;
  padding: 2px 0 0 0;
  text-align: center;
  margin-right: 6px;
  font-weight: bold;
  color: #d2dade;
  background-color: #35516c;
  border: solid 1px #d2dade;
  border-radius: 3px;
  vertical-align: middle;
  text-decoration: none;
}
.goto-top-btn {
  float: right;
}
  .toggle-formulas-btn:hover,
  .goto-top-btn:hover {
    color: #fff;
    background-color: #1e445d;
    border: solid 1px #fff;
  }

.spoiler-btn {
  display: block;
  cursor: pointer;
  text-align: center;
  padding: 24px 12px;
  background-color: #d6d6d6;
}
  .spoiler-btn:hover {
    color: #d6d6d6;
    background-color: #505050;
  }

.spoiler {
  display: none;
}

@media print {
    ul, h3, h2 a { display: none; }
}
