html {
    overflow-y: scroll;
}
html, body {
    background-color: #000;
}

input[type=checkbox],
select,
label {
    cursor: pointer;
}

input[readonly] {
    cursor: not-allowed;
}

.error-msg {
    background-color: #330000;
    color: #FF4444;
    border: solid 1px #FFFF00;
    text-align: center;
    padding: 18px 36px;
    margin-top: 12px;
}

#potentialPlot,
#trajectoryPlot {
    height: 500px;
}

form {
   font-size: 80%; 
}
form .row {
   background-color: rgb(30, 68, 93);
   color: rgb(210, 218, 222);
}

form div.form-group {
    margin-bottom: .5rem;
}
form div.form-group.form-check {
    padding-top: 1.5rem;
}
form div.form-group label {
    margin-bottom: .1rem;
}
form div.row button {
    float: right;
    margin-top: .8rem;
    margin-bottom: .5rem;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #7c7d80;
    color: #fff;
}

#pointsDataTableDiv {
    overflow: auto;
    max-height: 600px;
    margin-bottom: 72px;
}

#pointsDataTable {
    width: 100%;
    color: #fff;
}

#pointsDataTable tr td {
    padding-left: 8px;
}

#pointsDataTable thead tr td {
    padding-right: 12px;
    border-bottom: solid 1px #CCC;
    background-color: #333;
}
.not-all-data-printed-msg {
    text-align: center;
    background-color: #333;
}