html, body {
    background-color: #888888;
    margin: 0;
    padding: 0;
}
html {
    overflow-y: scroll;
    padding: 0 36px;
}
html, body, table, td, div, input, textarea, select {
    font-family: Times New Roman, Serif;
}

input[type=number],
select {
    border: none;
    border-radius: 3px;
    padding: 3px 6px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

input[type=number] {
    text-align: right;
    font-size: 70%;
}

input[type=checkbox],
input[type=radio],
select,
label {
    cursor: pointer;
}

input[type=checkbox] {
    vertical-align: middle;
    margin: 0;
    position: relative;
    top: -2px;
}

input[readonly] {
    cursor: not-allowed;
    background-color: #BBB;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding-top: 72px;
    font-size: 200%;
}

#floatingMenu {
    position: fixed;
    top: 70px;
    left: 0px;
    list-style: none;
    padding: 0;
}
#floatingMenu li {
    cursor: pointer;
    padding: 2px 8px 2px 12px;
    margin: 3px 0;
    background-color: #ccc;
    border-style: none solid solid none;
    border-color: #666;
    border-width: 1px;
}
#floatingMenu li,
#downloadDataBtn, 
#downloadDataBtn:visited {
    color: #1e445d;
}
#floatingMenu li:hover,
#downloadDataBtn:hover {
    color: #000;
    background-color: #fff;
}
#floatingMenu li#downloadData {
    padding: 0;
    display: none;
}
#downloadDataBtn {
    display: block;
    padding: 2px 8px 2px 12px;
}

#helpBtn {
    cursor: pointer;
    float: right;
    color: #fff;
    margin: 7px 24px 0 0;
    font-size: 180%;
    background-color: #ccc;
    border-radius: 16.5px;
    padding: 0.5px 4.5px 0 4px;
    color: #1f76b4;
}
#helpBtn:hover {
    background-color: #fff;
}
#helpContent {
    position: fixed;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
    overflow: auto;
    padding: 20px 32px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background-color: #eee;
    border: solid 2px #fff;
    display: none;
}
#helpContent h3 {
    font-size: 120%;
}
#helpContent h4 {
    font-size: 120%;
}
#closeHelpBtn { 
    cursor: pointer;
    float: right;
    color: #666;
    font-size: 150%;
}
#closeHelpBtn:hover { 
    color: #000;
}

.centered-page {
    margin: auto;
    width: 1036px;
    background-color: #000;
}

.form-row {
    clear: both;
}

.form-row label {
    color: #fff;
    font-size: 90%;
} 

.form-content {
    padding-top: 4px;
}

.newton-content {
    background-color: #60542e;
}

.schwarzschild-content {
    background-color: #1e445d;
}

.input-control {
    display: inline-block;
    margin-bottom: 3px;
}

.input-control,
.input-control input[type=number] {
    width: 212px;
}

#vrAdimControl,
#vrAdimControl input[type=number],
#vrSiControl,
#vrSiControl input[type=number] {
    width: 184px;
}

#epsilonAdimLabel,
#epsilonSiLabel {
    width: 12px;
    display: inline-block;
    text-align: right;
}

#epsilonAdimControl,
#epsilonAdimControl input[type=number],
#epsilonSiControl,
#epsilonSiControl input[type=number] {
    width: 196px;
}

.input-control.narrow,
.input-control.narrow input[type=number] {
    width: 175px;
}

.input-control .big-label {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 133%;
    margin: -4px 0;
}

.form-data-box {
    display: inline-block;
    width: 500px;
    border-radius: 12px;
    margin: 0 6px 6px 6px;
    background-color: rgba(0,0,0, 0.2);
    border: solid 2px rgba(0,0,0, 0.2);
}

.form-data-box h3 {
    color: #fff;
    margin: 0;
    padding: 3px 8px;
    background-color: rgba(0,0,0, 0.8);
    border-radius: 12px 12px 0 0;
    font-weight: normal;
}

.form-data-left,
.form-data-middle {
    display: inline-block;
    color: #fff;
    text-align: right;
    font-size: 80%;
}
.form-data-left label,
.form-data-middle label {
    font-size: 120%;
}

.form-data-left {
    width: 64px;
}

#inputFormatControl {
    margin-left: 76px;  /* .form-data-left[width] + 12 */
    width: 120px;
}

#systemData {
    width: 540px;
    margin-left: 106px;
}

#MControl {
    margin-left: 3px;
}

.form-data-middle {
    width: 24px;
}

.form-data-box.active {
    border-color: #fff;
}

.form-data-box.inactive label,
.form-data-box.inactive .form-data-left,
.form-data-box.inactive .form-data-middle {
    color: rgba(255,255,255, 0.5);
}

.vr-sign-btn {
    cursor: pointer;
    color: #fff;
    background-color: #0074c0;
    border: solid 1px #fff;
    border-radius: 6px;
    padding: 7px 0 7px 0;
    position: relative;
    top: 2px;
    left: -2px;
    text-align: center;
    font-size: 133%;
    line-height: 3px;
    font-weight: bold;
}
.vr-sign-btn.negative {
    background-color: #c07400;
}
.vr-sign-btn.negative span {
    position: relative;
    top: -1px;
}
.vr-sign-btn.inactive {
    cursor: not-allowed;
    background-color: #888888;
}

#formTopRow .input-control {
    width: auto;
    margin: 12px 24px;
}

.physics-btn {
    cursor: pointer;
    border: none;
    color: #fff;
    float: left;
    height: 48px;
    text-align: center;
    padding-top: 4px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
}

.physics-btn img {
    vertical-align: top;
}

.physics-btn label {
    font-size: 105%;
    position: relative;
    top: 4px;
    left: 4px;
}

#newtonBtn {
    width: 165px;
    background-color: #60542e;
}

#schwarzschildBtn {
    width: 177px;
    background-color: #1e445d;
}

#examples { 
    width: 330px;
}

#inputFormat {
    width: 100px;
    padding: 1px;
}

#errorMsg {
    background-color: #f00;
    color: #ff0;
    text-align: center;
}

#potentialPlot,
#trajectoryPlot {
    display: inline-block;
    width:516px; /* (1036 / 2) - 2 */
    height:516px; /* (1036 / 2) - 2 */
}


#pointsDataTableDiv {
    overflow-y: scroll;
    max-height: 420px;
    background-color: #ccc;
}

#pointsDataTableTitles,
#pointsDataTable {
    width: 100%;
    border: none;
}
#pointsDataTableTitles {
    border-top: solid 2px #ccc;
    padding-right: 24px;
    background-color: #333;
}

#pointsDataTableTitles td,
#pointsDataTable td {
    padding-left: 8px;
    max-width: 200px;
}
#pointsDataTableTitles td {
    padding-right: 12px;
    text-align: center;
    color: #fff;
}

#pointsDataTableTitles tr td:first-child,
#pointsDataTable tr td:first-child {
    width: 60px;
    text-align: center;
}


.not-all-data-printed-msg {
    text-align: center;
    background-color: #333;
}